textarea {
    min-height: 400px;
}


.email {
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    border-radius: 4px;
    align-items: center;
}
.email:hover {
    background-color:   rgb(245,245,245);
}
.readed {
    background-color: rgb(228 228 228);
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    border-radius: 4px;
    align-items: center;
}    

.buttons {
    float:  right;
    display: inline;
    margin:     2px;
    padding:    2px;
}

button{
    margin:     2px;
    padding:    2px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 28px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}
button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

button:focus {
  border-color: #4285f4;
  outline: none;
}